<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Testando flaks</h1>
    <a href="/">Voltar para o início</a>
    <p><i>Se voce entrou nessa pagina quer dizer que funcionou</i></p>
    <img src="https://scontent-gru2-1.cdninstagram.com/v/t51.82787-19/628006756_17891552175417402_2567950231875856633_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_cat=107&ccb=7-5&_nc_sid=f7ccc5&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLnd3dy42MjguQzMifQ%3D%3D&_nc_ohc=ch-JGkl1teMQ7kNvwGT1ZNF&_nc_oc=AdkWhFIKWiLZk2y4G30d9MwPbwra9EozFfITXhkokX7EmZX-xp8VqmuyRAvJVFh_s13h5TMmZzFpyQRTPcK6VlGq&_nc_zt=24&_nc_ht=scontent-gru2-1.cdninstagram.com&_nc_gid=J6DRIAomoy5cDgYs1JSkfA&oh=00_AfvzPbzkyNwheZTTn0_I83qsrmsE3K4zLpTSDYM8mdyLiQ&oe=69942B89" alt="Descrição">
</body>
</html>
